@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "react-slideshow-image/dist/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Set-Up Styling ***************/

:root {
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  
  --gold: #cfa524;
  --dark-gray: #222832;
  --white:#ffffff;
  --dark-white:#fafafa; 
  --gray: #586069;
  --light-gray: #9ca3af;
  --lighter-gray: #e0e0e4;
  --lightest-gray: #f3f4f6;
  --beige: #f3f6ec;
  --light-blue: #bfdbfe;
  --lightest-blue: #f6f8fe;
  --light-gray-blue: #cbd5e1;
  --sea-blue: #006fff;
  --navy: #002e5d;
  --dark-blue: #0a162f;
  --dark-red: #8b0000;
  --red: #ef4444;
  --error-red: #ff3333;
  --soft-red: #fca5a5;
  --green: #22c55e;

  --transparent-white: rgba(255, 255, 255, 0.5);


  --black-gradient: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

body {
  font-family: "IBM Plex Sans", "Poppins", sans-serif;
  background: var(--dark-blue);
  scroll-behavior: auto;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  /* border: 1px red dotted; */
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}


/******* General Styling **************/

/* Gradients */

.white__gradient {
  background: rgba(255, 255, 255, 0.4);
  filter: blur(300px);
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-dark {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #0a6c74 0.89%,
    #084d60 17.23%,
    #063349 42.04%,
    #041e2f 55.12%,
    #020d1a 71.54%,
    #000000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.black-gradient-bg {
  background: var(--black-gradient);
}

.soft-pastel-gradient-bg {
  background: linear-gradient(to right, #CDDDFF, #EFF4FF, #EFE8FF);
}

.gray-gradient-bg {
  background: linear-gradient(to bottom, #EDEEF4, #E7E8EE, #D9DAE0);
}

/* Colors */
.gold-text {
  color: var(--gold);
}

.dark-text {
  color: var(--dark-gray);
}

.white-text {
  color: var(--white);
}

.dark-white-text {
  color: var(--dark-white);
}

.gray-text {
  color: var(--gray);
}

.lighter-gray-text {
  color: var(--light-gray);
}

.sea-blue-text {
  color: var(--sea-blue)
}

.red-text {
  color: var(--dark-red)
}

.gold-bg {
  background-color: var(--gold);
}

.navy-bg{
  background-color: var(--navy);
}

.white-bg {
  background-color: var(--white);
}

.dark-white-bg {
  background-color: var(--dark-white);
}

.dark-bg {
  background-color: var(--dark-blue);
}

.beige-bg {
  background-color: var(--beige);
}

.light-blue-bg {
  background-color: var(--light-blue);
}

.lightest-blue-bg {
  background-color: var(--lightest-blue);
}

.sea-blue-bg {
  background-color: var(--sea-blue)
}

.error-red-bg {
  background: var(--error-red)
}

.soft-red-bg {
  background: var(--soft-red);
}

.lighter-gray-bg {
  background: var(--lighter-gray)
}

.gray-bg {
  background: var(--gray);
}

.green-bg {
  background: var(--green);
}

.red-bg {
  background-color: var(--red);
}

.dark-border {
  border-color: var(--dark-blue)
}

.sea-blue-border {
  border-color: var(--sea-blue)
}

.light-blue-border {
  border-color: var(--light-blue)
}

.gray-border {
  border-color: var(--light-gray)
}

.lighter-gray-border {
  border-color: var(--lighter-gray)
}

/* Box Shadow */
.lightest-box-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.standard-box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.strong-box-shadow {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

.three-d-box-shadow-1 {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12)
}

/******* Component/Device Styling **************/

/* Navbar Mobile */
.nav-sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Contact Component */
.contact-information p:nth-child(n + 2) {
  font-size: 0.9rem;
  color: rgb(252, 248, 232);
}

/* Navbar Component */
#our-impact,
#events,
#about-us,
#chapters,
#donate {
  scroll-margin-top: 99px; /* Adjust to the height of your navbar */
}

.nav-link {
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.nav-link:hover,
.nav-link:focus {
  background-color: black;
}

.dropdown-link {
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 100%;
  display: block;
}

.dropdown-link:hover,
.dropdown-link:focus {
  background-color: #e8ecfc;
}

.nav-sidebar-link {
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.nav-sidebar-link:hover,
.nav-sidebar-link:focus {
  background-color: #e8ecfc;
}

@keyframes popover {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dropdown-animation {
  animation: popover 0.2s ease-in-out;
}

.dropdown-background {
  background: linear-gradient(to bottom, #cbd5e1 0%, #cbd5e1 50%, #94a3b8 100%);
  border: 1px solid black;
}

.dropdown::before,
.dropdown::after {
  content: "";
  position: absolute;
  left: 12%;
  border-style: solid;
}

.dropdown::before {
  top: -11px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000 transparent;
}

.dropdown::after {
  top: -10px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgb(203 213 225) transparent;
}

.chapter-navbar nav {
  background: none;
  box-shadow: none;
}

/* Slideshow Component */
.slick {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.slick-prev,
.slick-next {
  color: #fff;
  border-radius: 50%;
}

.slick-next {
  right: -40px;
}

.slick-prev {
  left: -40px;
}

.slick-prev:hover,
.slick-next:hover {
  color: gray;
}

.slick-dots li button:before {
  color: #fff; /* Change dot color */
}

.slick-dots {
  bottom: -35px;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.container {
  min-width: 100%;
}

/* Events Component */
.feedback-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 0.5px solid lightgray;
  justify-content: center;
}

.feedback-card img {
  border: 3px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: center;
}

.feedback-card:hover {
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

/* News Component */
.news-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.news-card a {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  transform: translateY(-5px);
  transition: background-color 0.3s ease;
}

.news-card a:hover {
  background-color: #cccfda;
}

/* Donation Component */
.formContainer {
  height: 500px;
  overflow: hidden;
}

/* Chapter Pages */
.chapter-drop-shadow {
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.9));
}

.chapter-text-shadow {
  text-shadow: 2px 2px 2px black;
}

/******************************* Tools *********************************/

/* General Tools Page */
.project-card {
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: var(--light-gray-blue)
}


/* Sidebar */

.tool-links {
  transition: background-color 0.3s;
}

.tool-links:hover:not(.active-link) {
  background-color: var(--light-gray-blue);
}

.active-link {
  color: white;
  font-weight: 500;
  background-color: var(--sea-blue);
}


/* Email Finder Page */

.school-inputs {
  background-color: var(--transparent-white);
  border-radius: 0.5rem;
}






/* Mentor Mentee Matching System */

.dropzone-button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropzone-button:hover {
  color: var(--sea-blue);
  background-color: var(--dark-blue)
}
.upload-button:hover {
  background-color: #0056b3;
  color: white
}

@keyframes uploading-animation {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.uploading {
  animation: uploading-animation 1s infinite;
}

.pairings {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-family: Arial, sans-serif;
  overflow: auto;
}

.pairings h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.pairings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pairings-table th,
.pairings-table td {
  padding: 10px;
  border: 1px solid #2954b3;
  text-align: left;
  border-right: 1px solid #2954b3;
}

.pairings-table th {
  background-color: #2954b3;
  color: white;
}

.unmatched {
  margin: 2rem 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.unmatched h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.message {
  color: white;
}

.table-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.download-button {
  background-color: #2954b3; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 10px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
}

.download-button:hover {
  background-color: #002f5c; /* Darker blue on hover */
}