@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-slideshow-image/dist/styles.css";

/************ Template Styling ***************/

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

  --black-hover-gradient: linear-gradient(
    144.39deg,
    #ffffff 0%,
    #6d6d6d -30%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

body {
  font-family: "IBM Plex Sans", "Poppins", sans-serif
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  /* border: 1px red dotted; */
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-dark {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #0a6c74 0.89%,
    #084d60 17.23%,
    #063349 42.04%,
    #041e2f 55.12%,
    #020d1a 71.54%,
    #000000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: linear-gradient(to right, #ffffff, #289dc4);
  border: 10px solid rgb(41, 41, 41);
}

.feedback-card img {
  border: 3px solid black; /* Black border around images within the feedback box */
}

.feedback-card:hover {
  background: rgb(168, 168, 168);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(100px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(100px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.4);
  filter: blur(300px);
}

/************ Custom Styling ***************/

/* general styling */
.gold-color {
  color: #cfa524;
}

.black-color {
  color: #222832;
}

.white-color {
  color: white;
}

.background-gold-color {
  background-color: #cfa524;
}
.background-navy-color {
  background-color: #002e5d;
}

.background-beige-color {
  background-color: rgba(243, 246, 236, 255);
}

/* Contact Component */
.contact-information p:nth-child(n + 2) {
  font-size: 0.9rem;
  color: rgb(252,248,232)
}

/* Slideshow Componet */
.img-body img {
  margin: 0 auto;
  object-fit: cover;
}

.img-body {
  width: 100%;
  height: 400px;
  display: inline-block;
}

.container {
  width: 100%;
}

/* Donation Component */
.formContainer {
  height: 500px;
  overflow: hidden;
}

@keyframes swipeInLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.swipe-in-left {
  animation: swipeInLeft 0.5s ease forwards;
}

@keyframes swipeInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.swipe-in-right {
  animation: swipeInRight 0.5s ease forwards;
}

@keyframes swipeOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.swipe-out-left {
  animation: swipeOutLeft 0.5s ease forwards;
}

@keyframes swipeOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.swipe-out-right {
  animation: swipeOutRight 0.5s ease forwards;
}

.donation-bg-color {
  background-color: #fafafa;
}